Repository kubernetes-sigs/node-feature-discovery, pull requests merged in 2020-10, with the labels that each got.

#365 Makefile: set default deployment ns to node-feature-discovery
  Makefile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#366 Update triage/support label references to kind/support
  .github/ISSUE_TEMPLATE/support.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#367 Integration with gh-pages
  .github/workflows/gh-pages.yml
  Makefile
  docs/.gitignore
  docs/404.html
  docs/Gemfile
  docs/Gemfile.lock
  docs/_config.yml
  docs/_includes/class/addons-wrap.liquid
  docs/_includes/class/sidebar-wrap.liquid
  docs/index.md
  scripts/github/update-gh-pages.sh
  scripts/test-infra/build-gh-pages.sh
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, size/XL

#373 scripts: fix gh-pages build failure in prow
  docs/Gemfile
  docs/Gemfile.lock
  docs/_config.yml
  docs/_includes/class/addons-wrap.liquid
  scripts/test-infra/build-gh-pages.sh
Labels: approved, cncf-cla: yes, lgtm, size/S

#371 docs: make the list of available versions dynamic
  docs/_config.yml
  docs/_includes/class/addons-wrap.liquid
  scripts/github/update-gh-pages.sh
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, size/M

#375 docs: sync navbar from jekyll-rdt-theme v2.0.9
  docs/_includes/class/addons-wrap.liquid
Labels: approved, cncf-cla: yes, lgtm, size/M

#372 release-0.6: sync CI and docs/ from master
  .github/workflows/gh-pages.yml
  .travis.yml
  Dockerfile
  Makefile
  README.md
  cloudbuild.yaml
  docs/.gitignore
  docs/404.html
  docs/Gemfile
  docs/Gemfile.lock
  docs/_config.yml
  docs/_includes/class/addons-wrap.liquid
  docs/_includes/class/sidebar-wrap.liquid
  docs/index.md
  nfd-daemonset-combined.yaml.template
  nfd-master.yaml.template
  nfd-worker-daemonset.yaml.template
  nfd-worker-job.yaml.template
  scripts/github/update-gh-pages.sh
  scripts/test-infra/build-gh-pages.sh
  scripts/test-infra/build-image.sh
  scripts/test-infra/build.sh
  scripts/test-infra/push-image.sh
  scripts/test-infra/test-e2e.sh
  scripts/test-infra/verify.sh
Labels: approved, cncf-cla: yes, lgtm, size/XL

#378 README: fix link to Github pages
  README.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#376 docs: polish the version menu
  Makefile
  docs/_includes/class/addons-wrap.liquid
  scripts/github/update-gh-pages.sh
  scripts/test-infra/build-gh-pages.sh
Labels: approved, cncf-cla: yes, lgtm, size/S

#380 release-0.6: migrate documentation from README to docs/
  README.md
  docs/advanced/index.md
  docs/contributing/index.md
  docs/get-started/deployment-and-usage.md
  docs/get-started/examples-and-demos.md
  docs/get-started/features.md
  docs/get-started/index.md
  docs/get-started/introduction.md
  docs/get-started/quick-start.md
  docs/index.html
  docs/index.md
Labels: approved, cncf-cla: yes, lgtm, size/XXL
