Repository kubernetes-sigs/node-feature-discovery, pull requests merged in 2021-05, with the labels that each got.

#521 Add support for using USB device serial number
  docs/advanced/worker-configuration-reference.md
  docs/get-started/features.md
  source/custom/rules/usb_id_rule.go
  source/internal/usb_utils.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#517 backport-0.8: helm: add extraLabelNs master flag
  deployment/node-feature-discovery/Chart.yaml
  deployment/node-feature-discovery/templates/master.yaml
  deployment/node-feature-discovery/values.yaml
  docs/get-started/deployment-and-usage.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#529 Update references to v0.8.2
  README.md
  deployment/node-feature-discovery/Chart.yaml
  docs/_config.yml
  nfd-daemonset-combined.yaml.template
  nfd-master.yaml.template
  nfd-prune.yaml.template
  nfd-worker-daemonset.yaml.template
  nfd-worker-job.yaml.template
  test/e2e/node_feature_discovery.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#531 README: update references to v0.8.2
  README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#532 docs: show full version number in sidebar
  docs/_config.yml
  docs/_includes/class/sidebar-wrap.liquid
Labels: approved, cncf-cla: yes, lgtm, size/XS

#535 backport-0.8: docs: show full version number in sidebar
  docs/_config.yml
  docs/_includes/class/sidebar-wrap.liquid
Labels: approved, cncf-cla: yes, lgtm, size/XS

#534 backport-0.7: docs: show full version number in sidebar
  docs/_config.yml
  docs/_includes/class/sidebar-wrap.liquid
Labels: approved, cncf-cla: yes, lgtm, size/XS

#533 backport-0.6: docs: show full version number in sidebar
  docs/_config.yml
  docs/_includes/class/sidebar-wrap.liquid
  scripts/test-infra/mdlint.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS
